<%- include('../partials/head')%> 

    <section >

       
<div class="about">
     <div class="text">
        
        <h1 class="title">Nuestra Historia</h1>
        <p class="intro">En el corazón de nuestro acogedor barrio, en 2010, abrimos las puertas de nuestra panadería con un sueño: 
            crear un lugar donde la comunidad pudiera disfrutar de productos horneados frescos y de alta calidad, 
            elaborados con amor y dedicación.</p>
        <p class="intro">A lo largo de los años, hemos crecido y evolucionado, pero nuestra esencia sigue siendo la misma.
                Hemos ampliado nuestra variedad para incluir una gama de productos dulces y salados,
                siempre innovando y adaptándonos a las preferencias de nuestros clientes. </p>
    </div> 
    <div class="img">
        <img src="/images/about.jpg" alt="">
    </div>
    <div>
         <p class="fin">Nuestra panadería no es solo un lugar para comprar pan; es un punto de encuentro para la comunidad. 
                ¡Gracias por acompañarnos en este viaje y por ser parte de nuestra familia de panadería desde 2010!</p>
    </div>

</div>    
       
    </section>




<%- include('../partials/footer')%>