<%- include('../partials/head')%> 

<form action="/contact/envio" method="post">

    <h1 class="title exito">Gracias por contactarnos. A la brevedad nos comunicaremos con usted</h1>

</form>


<%- include('../partials/footer')%>
