<%- include('../partials/head')%> 
<form action="/productos/carrito/exito" method="post">

    <h1 class="title exito">Compra hecha con éxito. Gracias por tu compra!</h1>
</form>





<%- include('../partials/footer')%>

